body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/*###############################################################################################################################################################*/

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: #242323;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}

.navbar{
    display: flex;
    position: relative;
}

.navbar li{
    list-style: none;
    font-size: 17px;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 900; 
}

header .navbar li a:hover{
    color: #a9621f;
    border-bottom: 2px solid #a9621f;
}

.bouton-pour-inscripconnex{
    padding: 10px 20px;
    background: #a9621f;
    margin-top: -10px;
   text-transform:uppercase ;
   color: #fff;
}

.bouton-pour-inscripconnex:hover{
    background: #242323;
    transition: ease-out;
}

/*###############################################################################################################################################################*/

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url('Images/page1.jpeg');
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la fenêtre */
    background-position: center center; /* Centre l'image horizontalement et verticalement */
    background-attachment: fixed;
}

.tele-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-height: 30vh; /* Garantit que le conteneur prend toute la hauteur de la fenêtre */
}

.tele-menu a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #a9621f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.tele-menu a:hover {
    background-color: #482607;
}

h1 {
    margin: 0;
}

.menu-category {
    margin: 30px 0;
    background-color: #f5f5f5; /* Couleur de fond pour la section du menu */
    padding: 20px;
    border-radius: 8px; /* Coins arrondis pour la section */
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px 0; /* Augmentez la marge supérieure et inférieure pour un espacement accru */
}

img {
    max-width: 100%;
    max-height: 600px; /* Ajustez selon vos besoins */
    border-radius: 5px;
}


/*###############################################################################################################################################################*/

footer {
    background-color: rgb(24, 23, 23); /* Couleur de fond du footer */
    color: rgb(255, 255, 255); /* Couleur du texte dans le footer */
    text-align: center;
    padding: 10px ;
    position: flex;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    
}

h3{
    font-size: 17px;
}

.social-media a {
    
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.social-media img {
    width: 25px; /* Ajustez la taille de l'icône de média social au besoin */
    height: 25px;
    
}

.social-media {
    margin: 0 100px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info  {
    text-align: center;
}
.adresse {
    margin: 0 100px;
}
.adresse a{
    
    color: rgb(255, 255, 255);
}

/*###########