    /* Réinitialisation des marges et des rembourrages par défaut */
    body, h1, h2, p, ul, li {
        margin: 0;
        padding: 0;
    }

    /*###############################################################################################################################################################*/

    body {
       
        font-family: 'Times New Roman', Times, serif;
      
        background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la fenêtre */
        background-position: center center; /* Centre l'image horizontalement et verticalement */
        background-attachment: fixed;
    }

    /*###############################################################################################################################################################*/

 
    header{
        position: fixed;
        top: 0%;
        left: 0%;
        padding: 20px 10px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transition: 0.5s;
        background-color: #242323;
    }
    
    .logo{
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        text-decoration: none;
    }
    .navbar{
        display: flex;
        position: relative;
    }
    .navbar li{
        list-style: none;
    }
    .navbar a{
        color: #fff;
        text-decoration: none;
        margin-left: 35px;
        font-weight: 900;
        
    }
    header .navbar li a:hover{
        color: #a9621f;
        border-bottom: 2px solid #a9621f;
    }

    /*###############################################################################################################################################################*/

    .bouton-pour-inscripconnex{
        padding: 10px 20px;
        background: #a9621f;
        margin-top: -10px;
       text-transform:uppercase ;
       color: #fff;
    }
    .bouton-pour-inscripconnex:hover{
        background: #242323;
        transition: ease-out;
    }

    /*###############################################################################################################################################################*/

    #présentation {
        background-size: cover;
        background-position: center;
        color: rgb(255, 255, 255); /* Couleur du texte dans la section du héros */
        text-align: center;
        padding: 150px 120px;
        margin-top: 80px;
        background-image: url('Images/page1_.jpg.webp');

    }
    #présentation h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
    }
   
    

    .bouton2{
        font-size: 1em;
        color: #fff;
        background: #242323;
        padding: 10px 20px;
        transition: 0.5s;
        display: inline-block;
        margin-top: 20px;
        text-decoration: none;  
        letter-spacing: 1px;
        margin-left: 10px;
       
    }
    
    .bouton2:hover{
        background: #a9621f;
        transition: ease-out;
    }

    /*###############################################################################################################################################################*/

    footer {
        background-color: rgb(24, 23, 23); /* Couleur de fond du footer */
        color: rgb(255, 255, 255); /* Couleur du texte dans le footer */
        text-align: center;
        padding: 10px ;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        
    }
    h3{
        font-size: 13px;
    }
    

    .social-media a {
        
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .social-media img {
        width: 25px; /* Ajustez la taille de l'icône de média social au besoin */
        height: 25px;
        
    }

    .social-media {
        margin: 0 100px;
    }

    .contact-info p {
        margin: 5px 0;
    }

    .contact-info  {
        text-align: center;
    }
    .adresse {
        margin: 0 100px;
    }

    .adresse a {
        color :rgb(255, 255, 255)
    }



 

  
   
    /*###############################################################################################################################################################*/