   /* Réinitialisation des marges et des rembourrages par défaut */
   body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/*###############################################################################################################################################################*/

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff; /* Couleur de fond de la page */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la fenêtre */
    background-position: center center; /* Centre l'image horizontalement et verticalement */
    background-attachment: fixed;
}

/*###############################################################################################################################################################*/

header{
    position: flex;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: #242323;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}
.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
    font-size: 17px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 900;
    
}
header .navbar li a:hover{
    color: #a9621f;
    border-bottom: 2px solid #a9621f;
}

.bouton-pour-inscripconnex{
    padding: 10px 20px;
    background: #a9621f;
    margin-top: -10px;
   text-transform:uppercase ;
   color: #fff;
}
.bouton-pour-inscripconnex:hover{
    background: #242323;
    transition: ease-out;
}


/*###############################################################################################################################################################*/

.body {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

aside {
    flex-basis: 45%; /* Définit la largeur de la barre latérale */
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 10% auto;
}

aside h1{
    color: #a9621f;
    font-family: 'cursive';
    letter-spacing: 2px;
    line-height: 30px;
}

aside h1 span{
    font-size: 30px ;
}

aside p {
    color: #333;
    text-align: justify;
    margin-top: 20px;
}

/*###############################################################################################################################################################*/

main {
    max-width: 500px; /* Définissez la largeur maximale de la section */
    margin: 0 auto; /* Centrez la section horizontalement */
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    flex: 1;
    position: flex;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
}

input[type="submit"]:hover {
    background-color: #a9621f;
}

/*###############################################################################################################################################################*/

footer {
    background-color: rgb(24, 23, 23); /* Couleur de fond du footer */
    color: rgb(255, 255, 255); /* Couleur du texte dans le footer */
    text-align: center;
    padding: 10px ;
    position: flex;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    
}

h3{
    font-size: 17px;
}

.social-media a {
    
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.social-media img {
    width: 25px; /* Ajustez la taille de l'icône de média social au besoin */
    height: 25px;
    
}

.social-media {
    margin: 0 100px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info  {
    text-align: center;
}
.adresse {
    margin: 0 100px;
}
.adresse a{
    
    color: rgb(255, 255, 255);
}

/*###########